/* SERVICES */

.services{
    margin:70px auto;
    max-width:1200px;
    padding:40px;
}

/* TITLE */

.title{
    margin-bottom:70px;
    font-size:42px;
    color:#625f5f;
    text-align:center;
    position:relative;
}

.title::after{
    content:"";
    width:120px;
    height:3px;
    background:#3e3e3e;
    display:block;
    margin:15px auto 0;
    border-radius:2px;
}


.services-container{
    display:flex;
    justify-content:center;
    gap:40px;
}


.service-card{
    padding:40px;
    border-radius:12px;
    width:300px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    transition:0.3s;
}

.service-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,0.2);
}


.service-icon{
    font-size:45px;
    color:#555;
    margin-bottom:20px;
}


.service-card h3{
    margin-bottom:15px;
    color:#3f3e3e;
}


.service-card p{
    color:#343232;
    line-height:1.6;
}